{% extends 'base.html.twig' %}

{% block title %}
    Connexion -
    {{parent()}}
{% endblock %}

{% block body %}
    <section class="container min-h-80">
        <div class="card border-0 col-12 col-md-8 col-lg-6 px-0 mx-auto bg-primary my-4">
            <div class="card-header h5 text-white"><i class="fas fa-lock me-2"></i>Connexion</div>
            <div class="card-body d-flex flex-column justify-content-center bg-white text-black">
                {% if error %}
                    <div class="alert alert-danger alert-dismissible fade show" role="alert">
                        <i class="fas fa-exclamation-circle me-2"></i>{{ error.messageKey|trans(error.messageData, 'security') }}
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                    </div>
                {% endif %}
                <form action="{{ path('login') }}" class="d-flex flex-row flex-wrap" method="post">
                    <div class="w-100 mb-2">
                        <i class="fas fa-at me-1"></i> <label for="username" class="form-label required">Adresse mail :</label><br />
                        <input type="text" class="w-100 form-control" id="username" name="_username" value="{{ last_username }}"/>
                    </div>
                    <div class="w-100 mb-2">
                        <i class="fas fa-key me-1"></i> <label for="password" class="form-label required">Mot de passe :</label><br />
                        <input type="password" class="w-100 form-control" id="password" name="_password"/>
                    </div>
                    <a class="small" href="/reinitialiser-mot-de-passe"><i class="far fa-question-circle me-1"></i>Mot de passe oublié ?</a>
                    <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
                    <button type="submit" class="btn btn-primary mt-4 ms-auto">Connexion</button>
                </form>
            </div>
        </div>
    </section>
{% endblock %}
